body {
    max-width: 90%;
    margin-left: 25%;
    background-color: #D3BAAB;
    background-image: url('assets/rm245-bb-62.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

p {
    font-family: serif;
    letter-spacing: 0.80px;
    font-size: 110%;
    color: #111111;
}

a {
    color: #b289ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}

a:hover {
    color: #92ec89;
}

a:visited {
    color: #8992ec;
    font-size: 95%;
}

blockquote {
    margin-left: 20%;
    border-left: 3px firebrick solid;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

blockquote q {
    font-size: 160%;
}

blockquote q, footer, cite {
    background-color: grey;
}

q {
    font-style: italic;
    font-weight: normal;
}

.bien {
    background-image: url('assets/bien.png');
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: 260px;
    background-size: contain;
}

.mal {
    background-image: url('assets/mal.png');
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: 245px;
    background-size: contain;
}

.chat {
    background-image: url('assets/chat.png');
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: 245px;
    background-size: contain;
}

.vill {
    border-left: 2px red solid;
}

.farm {
    border-left: 2px blue solid;
}

header blockquote q {
    background-color: yellow;
}

.bad {
    color: red;
    text-transform: capitalize;
}

.good {
    color: green;
    text-transform: capitalize;
}

.gris {
    background-color: lightgrey;
}

.blanc {
    background-color: white;
}

#firstp {
    font-weight: bold;
}